/*@import "//cloud.typography.com/83560/671406/css/fonts.css";*/

@font-face {
	font-family: 'Ideal-Sans-Bold';
	src: url('./fonts/IdealSans-Bold.eot');
	src: url('./fonts/IdealSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/IdealSans-Bold.woff') format('woff'),
		url('./fonts/IdealSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Sentinel-Light';
	src: url('./fonts/Sentinel-Light.eot');
	src: url('./fonts/Sentinel-Light.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Sentinel-Light.woff') format('woff'),
		url('./fonts/Sentinel-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Sentinel-Bold';
	src: url('./fonts/Sentinel-Bold.eot');
	src: url('./fonts/Sentinel-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Sentinel-Bold.woff') format('woff'),
		url('./fonts/Sentinel-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}



html {
  overflow: hidden;
}

body {
  margin: 0!important;
  padding: 0!important;
  overflow: none;
  background-color: #2d2C2C;
  color: white;
  font-style: normal;
  font-weight: 300;
  height: 100%;
}

text, circle {
  cursor: pointer;
}

.home-container {
	position: fixed;
	top: 20px;
	height: 43px;
	left: 20px;
	width: 115px;
	background: #2d2C2C;
	z-index: 1;
}

.home-container img {
	width: 100%;
}

#inactivity-notifier div {
	padding: 27px!important;
	font-family: 'Sentinel-Light'!important;
}
